In [1]:
import pandas as pd
import numpy as np

In [19]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
#read the data set to the python environment
data = pd.read_excel(r"C:\Users\syed9\Downloads\iris.xls")

In [3]:
data

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
#display the column in a dataset
data.columns

Index(['SL', 'SW', 'PL', 'PW', 'Classification'], dtype='object')

In [5]:
#calculate the mean for each column in a data set
data[['SL','SW','PL','PW']].mean()

SL    5.843333
SW    3.054000
PL    3.758667
PW    1.198667
dtype: float64

In [6]:
#CHECK FOR THE NULL VALUES PRESENT IN EACH DATASET
data.isna().sum()

SL                0
SW                0
PL                0
PW                0
Classification    0
dtype: int64